@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 30% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 30% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 100% 20%;
    --primary-foreground: 60 30% 98%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 120 100% 20%;
    --muted: 60 20% 85%;
    --muted-foreground: 225 40% 30%;
    --accent: 51 100% 50%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 30% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 120 100% 20%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 30% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 30% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 30% 95%;
    --primary: 120 80% 40%;
    --primary-foreground: 120 100% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 30% 95%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 51 100% 60%;
    --accent-foreground: 51 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 30% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 120 80% 40%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80"><path fill="%23006400" fill-opacity="0.03" d="M0 0h40v40H0zM40 40h40v40H40z"></path></svg>');
  }
}
