@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 67% 94%; /* #FAF3E0 */
    --foreground: 0 0% 13%; /* #222222 */
    --card: 158 40% 95%;
    --card-foreground: 0 0% 13%;
    --popover: 45 67% 94%;
    --popover-foreground: 0 0% 13%;
    --primary: 158 53% 20%; /* #1A4D2E */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 91.1%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 20% 91.1%;
    --muted-foreground: 0 0% 33%; /* #555555 */
    --accent: 51 100% 50%; /* #FFD700 */
    --accent-foreground: 0 0% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 80%;
    --input: 210 10% 80%;
    --ring: 158 53% 20%;
  }
 
  .dark {
    --background: 195 47% 8%; /* #0D1B1E */
    --foreground: 210 17% 98%; /* #F8F9FA */
    --card: 195 47% 10%;
    --card-foreground: 210 17% 98%;
    --popover: 195 47% 10%;
    --popover-foreground: 210 17% 98%;
    --primary: 158 80% 45%; /* A brighter, more prominent green */
    --primary-foreground: 210 17% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 20% 95%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 4% 69%; /* #B0B0B0 */
    --accent: 51 100% 50%; /* #FFD700 */
    --accent-foreground: 0 0% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 165 91% 20%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  .light {
     background-color: #FAF3E0;
     background-image: linear-gradient(to bottom, #FFFFFF, #FAF3E0);
  }

  .dark {
    background-color: #0D1B1E;
    background-image: linear-gradient(to bottom, #0D1B1E, #123524);
  }
}

@layer utilities {
  .parallax-bg {
    background-image: url('https://images.unsplash.com/photo-1511652019870-fbd8713560bf?q=80&w=1946&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

   .animated-border > * {
    border-radius: calc(0.5rem - 2px); /* inner radius should be outer radius - padding */
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
